body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #212227;
  color: whitesmoke;
  font-family: "Manrope", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #28536b;
}

main {
  display: flex;
  height: 100vh;
  margin: 2rem;
  user-select: none;
}

section {
  display: flex;
  flex-direction: column;
}