.index_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me_container h1 {
  margin-bottom: 2px;
}

.me_container h4 {
  margin-top: 2px;
  color: #dedede;
}

.flex {
  flex: 1;
  align-items: center;
}

.index_article {
  display: flex;
  height: 100%;
  width: 100%;
}

.index_section img {
  display: block;
  width: 100%;
}

.me_container {
  display: flex;
  margin-top: 25%;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.svg_section {
  display: flex;
}

.svg_section img {
  max-width: 100%;
}


@media only screen and (max-width: 600px) {
  .svg_section {
    display: none;
  }

  .flex {
    display: none;
  }

  .index_article {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .index_article {
    font-size: 1.6rem;
  }
}