.footer {
  position: absolute;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 0;
  font-size: 20px;
  font-weight: 400;
  flex: 1;
}
